.central-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid lightgray;
  border-radius: .5rem;
  display: flex;
}

.post-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.label {
  display: block;
  text-align: center;
}

.post-form > * {
  margin: 15px;
}

#description {
  border: 1px solid lightgray;
  outline: none;
  padding: 10px;
  margin: 5px;
  height: 300px;
  width: 500px;
  border-radius: .5rem;
  font-size: 1rem;
}

.image {
  width: 400px;
}

.button {
  background-color: #2c92f2;
}
