<div *ngIf="(profile | async) as pr">
  <div class="header">
    <img class="profile-image" [src]="pr.profileImageUrl | imgJwt | async">
    <div class="info-container">
      <h2 class="profile-name"> {{ pr.name }} </h2>
      <p class="about"> {{ pr.about }} </p>
    </div>
  </div>
  <div class="add-container">
    <button class="button" (click)="addPost()">Add Post</button>
  </div>
  <div class="posts-container">
    <app-postcard class="post" *ngFor="let post of pr.posts" [post]="post"></app-postcard>
  </div>
</div>
