<div class="forms-container">
  <div class="logo-container container">
    <app-logo logoType="full"></app-logo>
  </div>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <label for="username">username</label>
    <div class="field-container container">
      <input class="field" id="username" name="username" type="text" ngModel>
    </div>
    <label for="password">password</label>
    <div class="field-container container">
      <input class="field" id="password" name="password" type="password" ngModel>
    </div>
    <div class="button-container container">
      <input class="button primary" type="submit" value="Login">
    </div>
    <div class="register-hyperlink-container">
      <a class="link register-link" [routerLink]="['/auth/register']">Register</a>
    </div>
  </form>
</div>
