<div class="full-page">
  <div class="side"></div>
  <aside [ngClass]="{'hidden': !closedSidebar}" class="sb side closed-sidebar">
    <div *ngIf="closedSidebar" class="sidebar-content">
      <app-menu-icon class="option" (click)="toggleSidebar()"></app-menu-icon>
      <app-logo class="option" logoType="minimal"></app-logo>
    </div>
  </aside>
  <aside [ngClass]="{'closed': closedSidebar, 'hidden': closedSidebar}" class="sb sidebar">
    <div *ngIf="!closedSidebar" class="sidebar-content">
      <div class="sidebar-header">
        <app-logo class="option" logoType="full"></app-logo>
        <app-menu-icon class="option" (click)="toggleSidebar()"></app-menu-icon>
      </div>
      <a class="link" [routerLink]="[{ outlets: { create: ['create-profile'] }}]">
        <h2 class="create-profile">Create profile</h2>
      </a>
      <div class="profiles-container" *ngIf="(userProfiles$ | async) as userProfiles">
        <div class="profile" *ngFor="let profile of userProfiles">
          <app-profile-image [imageSrc]="profile.profileImageUrl"></app-profile-image>
          <a class="link" [routerLink]="['profile', profile.id]"><h4> {{ profile.name }} </h4></a>
        </div>
      </div>
    </div>
  </aside>
  <div class="content">
    <form #form="ngForm" class="search-header" (onSubmit)="search(searchInput.value)">
      <input #searchInput class="search search-input" type="search">
      <button class="search search-button button" (click)="search(searchInput.value)">Search</button>
    </form>
    <router-outlet></router-outlet>
    <router-outlet name="create"></router-outlet>
    <router-outlet name="post"></router-outlet>
  </div>
</div>
