.full-page {
  min-height: 100vh;
  display: flex;
}

.sb {
  min-height: 100vh;
  background-color: white;
  border-right: 1px solid lightgray;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  max-width: 100%;
  transition: ease .3s;
  background-color: rgba(255, 255, 255, .9);
}

.closed-sidebar {
  position: fixed;
  transition: ease .6s;
}

.side {
  width: 60px;
}

.closed {
  max-width: 0px;
}

.content {
  flex: 1 1 0;
  padding: 1rem;
}

.option {
  margin: 15px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.hidden {
  border: none;
}

.create-profile:hover {
  text-decoration: underline;
  cursor: pointer;
}

.create-profile {
  margin-bottom: 15px;
}

.header {
  min-height: 30px;
  display: flex;
  justify-content: center;
  flex: 1 1 0;
}

.search-header {
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex: 1 1 0;
}

.search {
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  text-align: center;
  outline: none;
  border: 1px solid lightgray;
  border-radius: .7rem;
}

.dropdown {
  position: fixed;
  right: 10px;
  border-radius: .5rem;
  box-shadow: 0px 0px 2px 2px lightgray;
  background-color: white;
}

.hidden-dropdown {
  display: none;
}

.dropdown-option {
  cursor: pointer;
  margin: 10px;
}

.dropdown-option:hover {
  text-decoration: underline;
}

.search-input {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 150px;
  min-width: 20%;
}

.search-button {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  width: 80px;
}

.profiles-container {
  overflow: scroll;
  overflow-x: hidden;
  height: 80%;
  width: 100%;
  padding: .6rem;
}

.profile {
  display: flex;
  align-items: center;
}

.profile > * {
  margin: 10px;
}
